.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 10px 0;

  &__title {
    margin: 0 0 14px 0;
    padding: 0;
    line-height: 80px;
    font-size: 60px;
    color: #000;
    font-weight: 300;
  }
}

.search-info {
  width: 780px;
  height: 60px;
  position: relative;

  &__icon {
    position: relative;
    top: 45px;
    left: 15px;
    color: #969b9d;
    font-size: 30px;
    z-index: 1;
  }

  &__form {
    position: relative;
    width: 780px;
    height: 60px;
  }

  &__input {
    height: 100%;
    width: 100%;
    font-size: 18px;
    border: none;
    padding-left: 70px;
    padding-right: 220px;
    border-radius: 0 90px 0 0;
  }

  &__button {
    text-transform: uppercase;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-weight: 700;
    width: 170px;
    background: #1eb7ee;
    color: #fff;
    font-size: 20px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: 0 80px 0 0;
    text-align: left;
    padding: 0 20px;

    &:hover {
      cursor: pointer;
      border-radius: 0 40px 0 0;
    }
  }
}
