.info-results {
  width: 80%;
  margin: 32px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 0;
  list-style: none;
  width: 100%;
  height: 60px;
  position: relative;
  font-weight: 600;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 60px 60px 0 0;
  background: #73d2f0;
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  text-decoration: none;

  &:not(.nav-item_active):hover {
    background-color: #1eb7ee;
  }

  &_active {
    z-index: 1;
    background: #fff;
    color: #73d2f0;
  }
}

.fas {
  margin-right: 20px;
}

.departures {
  padding-right: 150px;
  margin-right: -60px;
  align-items: center;
}

.arrivals {
  padding-left: 150px;
  margin-left: -60px;
  align-items: center;
}
