.info-results {
  width: 80%;
  margin: 32px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 0;
  list-style: none;
  width: 100%;
  height: 60px;
  position: relative;
  font-weight: 600;
}

.nav-item {
  width: 640px;
  flex-grow: 1;
  text-align: right;
  margin-right: 0px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  position: relative;

  border-radius: 0 60px 0 0;
  outline: none;
  background: #73d2f0;
  overflow: hidden;
  padding-left: 1px;
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  margin-left: -55px;
}

.active {
  width: 635px;
  border-radius: 60px 60px 0 0 !important;
  z-index: 1;
  background: #fff;
  color: #73d2f0;
  margin-left: 0;
}

.fas {
  margin-right: 20px;
}
